<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.isunican.proyectobase">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Views.PopUpPrimerVehiculoActivity"
            android:theme="@style/AppTheme.TemasPopUps"/>
        
        <activity android:name=".Views.PopUpConflicto" android:theme="@style/AppTheme.TemasPopUps"></activity>
        <activity
            android:name=".Views.FilterActivity"
            android:theme="@style/AppTheme.TemasPopUps"></activity>

        <activity android:name=".Views.NoDatosActivity" />
        <activity android:name=".Views.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Views.MisVehiculosActivity"
            android:label="Mis vehículos">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Views.InfoActivity"
            android:label="Desarrolladores"/>
        <activity android:name=".Views.DetailActivity"
            android:label="Información gasolinera"/>
        <activity android:name=".Views.FormActivity"
            android:label="Añade tu vehículo"/>
        <activity android:name=".Views.DetailVehiculoActivity"
            android:label="Información mi vehículo"/>


    </application>

</manifest>